.product__item {
  background-color: #1f1d2b;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product__image {
  width: 100%;
  height: 350px;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0.5rem;
  object-fit: contain;
  padding: 3rem;
}

.product__title {
  font-size: 1rem;
}

.product__price {
  font-size: 1rem;
}

