:root {
  background-color: #252836;
  color: #ffffff;
  font-family: "Barlow", serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
}

button {
  font-family: "Barlow", serif;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  padding: 0.875rem;
  color: #fff;
  background-color: #ea7c69;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

input {
  color: #ffffff;
  background-color: #2d303e;
  border: 1px solid #393c49;
  border-radius: 0.5rem;
  padding: 0.875rem;
  max-height: 1rem;
}
